{% extends 'base.html.twig' %}

{% block title %}All Courses{% endblock %}

{% block body %}
<h1>all courses</h1>

<div class="sessions_wrapper">
<a class="add_button" href=" {{ path('add-course') }}">ADD A COURSE</a>
    <table id="sessions_table">
        <thead>
            <th>name</th>
            <th>category</th>
        </thead>
    {% for course in courses %}
            <tbody>
                <tr>
                    <td>{{course.name}}</td>
                    {% if course.category is not null%}
                    <td>{{course.category.name}}</td>
                        {% else %}
                        {# <td><a href="{{ path('add_category_to_course', {'id':course.id}) }}">add category</a></td> #}
                        <td>NULL</td>
                        {% endif %}
                        </tr>
                    </tbody>
                        {% endfor %}
        </table>

</div>
{% endblock %}
