{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

<div class="home_wrapper">
    
        <a class="home_button" href="{{ path('app_session') }}">ALL SESSIONS</a>
    
    
        <a class="home_button" href="{{ path('app_training') }}">ALL TRAININGS</a>
 
   
        <a class="home_button" href="{{ path('app_trainee') }}">ALL TRAINEES</a>


   
        <a class="home_button" href="{{ path('app_course') }}">ALL COURSES</a>
  
</div>
{% endblock %}
