{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

<div class="home_wrapper">
    <div class="home_button" >
        <a href="{{ path('app_session') }}">ALL SESSIONS</a>
    </div>
    <div class="home_button">
        <a href="{{ path('app_training') }}">ALL TRAININGS</a>
    </div>
    <div class="home_button">
        <a href="{{ path('app_trainee') }}">ALL TRAINEES</a>
    </div>

     <div class="home_button">
        <a href="{{ path('app_course') }}">ALL COURSES</a>
    </div>
</div>
{% endblock %}
