{% extends 'base.html.twig' %}

{% block title %}All Categories{% endblock %}

{% block body %}
<h1>all categories</h1>

<div class="sessions_wrapper">
    <a class="add_button" href="{{ path('add_category') }}">ADD A CATEGORY</a>
    <table id="categories_table">
        <thead>
            <th>update</th>
            <th>name</th>
            <th>bin</th>

        </thead>
    {% for category in categories %}
            <tbody>
                <tr>
                    <td><a href=" {{ path('update_category',{'id':category.id}) }} "><i class="fa-solid fa-pen-to-square"></i></a></td>
                    <td>{{category.name}}</td>
                    <td><a href=" {{ path('delete_category',{'id':category.id}) }} "><i class="fa-solid fa-trash"></i></a></td>

                </tr>
            </tbody>
    {% endfor %}
    </table> 
</div>

{% endblock %}
