{% extends 'base.html.twig' %}

{% block title %}All Categories{% endblock %}

{% block nav %}
      <div class="nav_container">
                    <div class="nav-left">
                    <p id="welcome">all categories</p>
                    {# <p> {{totalCategories}} Categories </p> #}
                    </div>
                    <div class="nav_middle">
                    </div>
                    <div class="nav-right">
                        <p><a href=" {{ path('app_home') }}">home <i class="fa-solid fa-circle-arrow-right"></i> </a></p>
                    </div>
                </div>
{% endblock nav %}

{% block body %}
<div class="categories_wrapper">
    <table id="categories_table">
        <thead>
            <th>name</th>

        </thead>
    {% for category in categories %}
            <tbody>
                <tr>
                    <td>{{category.name}}</td>
                </tr>
            </tbody>
    {% endfor %}
    </table>

</div>

{% endblock %}
