
{% extends 'base.html.twig' %} 

{% block title %}Program{% endblock %}

{% block body %}
<h1>{{ session.name }}/Program</h1>
<div class="sessions_wrapper">
<table id="sessions_table">
    <thead>
        <tr>
            <th>Session</th>
            <th>Course</th>
            <th>Duration</th>
        </tr>
    </thead>

    <tbody>
        <tr>
        
        {% for program in session.programs %}     
            <td>{{ program.session.name }}</td>
            <td>{{ program.course.name }}</td>   
            <td>{{ program.durationInDays }} days</td>
        {% endfor %}
        </tr>
    </tbody>
 </table>
    
</div>
{% endblock %}