:root{
    --background:#F5F6FD;
    --white:#FEFEFE;
    --blue:#2E5BFF;
    --black:#1F212C;
    --grey:#7E8286;
    --green:#16cb4d;
}

*{
    box-sizing: border-box;
}

body {
    background-color: var(--background);
    font-family: "Montserrat", serif;
}


/****************************************** BASE */

/***************** NAV */
.nav_container{
    background-color: var(--white);
    width:100%;
    height:fit-content;
    padding:10px 30px 10px 30px;
    -webkit-box-shadow: 10px 4px 5px 0px rgba(46,91,255,0.19);
    -moz-box-shadow: 10px 4px 5px 0px rgba(46,91,255,0.19);
    box-shadow: 10px 4px 5px 0px rgba(46,91,255,0.19);
    display: flex;
    justify-content: space-between;
    align-items:baseline;
}

.nav_container #welcome{
    text-transform:uppercase;
    font-size: 1.5em;
    font-weight:700;
}

.nav_middle{
    margin:10px;
}

.nav_middle:hover,.nav-right i:hover{
   cursor:pointer;
}

.nav_container .nav_middle #editProfile a{
    font-size:1.3em;
    color:var(--blue);
    text-decoration: none;
}

.nav-left{
    display: flex;
    align-items: baseline;
    gap:20px;
}

.nav-right{
    margin:10px;
    text-transform:uppercase;
}

.nav-right a{
    color:var(--blue);
    text-decoration: none;
    font-size: 1.5em;
}

#avatar{
    width:100px;
}

/****************************************** HOME */

.home_wrapper{
    padding:50px;
    width: fit-content;
    margin: 100px auto auto auto;

    display:flex;
    flex-direction:column;
    gap:10vh;
}

.all_wrapper,.add_wrapper{
    gap:15px;
    display: flex;
}

.add_wrapper{
    justify-content: center;
}

.home_button{
    background-color:var(--blue);
    width:fit-content;
    padding:20px;
    border-radius:4px;
    color:var(--white);
    font-weight:600;
    text-decoration:none;
}

 .home_button:hover,.home_button_round:hover{
    background-color:var(--green);
    cursor:pointer;
 }


.home_button_round{
    border-radius:100px;
    background-color:orange;
    width:fit-content;
    padding:20px;
    color:var(--white);
    font-weight:600;
    text-decoration:none;
}

/****************************************** ALL SESSIONS,ALL TRAININGS,ALL TRAINEES */

.sessions_wrapper{
    width:100%;
    padding:40px;
}

#sessions_table{
    width:100%;
    border-radius: 4px;
    border-spacing: 0px 2em;
}

#sessions_table th{
    text-transform: uppercase;
    color: var(--blue);
    font-weight: 600;
}

 #sessions_table td {
    background-color: var(--white);
    padding: 8px;
    text-align: center;
    border: none;
}

#sessions_table tr{
    margin-bottom: 10px; 
}

#search{
    width:40px;
}

/* .fa-circle-plus{
    font-size:6em;
    margin:20px 100px 20px 20px;
    float:right;
} */

.add_button{
    border-radius:100px;
    background-color:orange;
    width:fit-content;
    padding:20px;
    color:var(--white);
    font-weight:600;
    text-decoration:none;
    margin: auto;
    display: block;
}

.add_button:hover{
    background-color:var(--green);
    cursor:pointer;
}





/****************************************** ALL CATEGORIES */


.categories_wrapper{
    width:100%;
    padding:40px;
}

#categories_table{
    width:fit-content;
    border-radius: 4px;
    border-spacing: 0px 1em;
    margin:auto;
}

#categories_table th{
    text-transform: uppercase;
    color: var(--blue);
    font-weight: 600;
}

 #categories_table td {
    background-color: var(--white);
    padding: 8px;
    text-align: center;
    border: none;
}

#categories_table tr{
    margin-bottom: 10px; 
}



/****************************************** ADD A SESSION */



.form_container{
    width:fit-content;
    padding:40px;
    margin: 100px auto 100px auto;
    background-color: var(--white);
    border-radius: 4px;
    -webkit-box-shadow: -1px 9px 11px 0px rgba(46,91,255,0.19);
    -moz-box-shadow: -1px 9px 11px 0px rgba(46,91,255,0.19);
    box-shadow: -1px 9px 11px 0px rgba(46,91,255,0.19);
}

label {
    font-weight: 500;
    color: var(--black);
    margin-bottom: 5px;
    text-transform: uppercase;
}

.custom-input {
    width: 100%;
    height:4em;
    padding: 10px;
    margin-top:20px;
    margin-bottom:20px;
    background-color: var(--background);
    border-radius: 5px;
    font-size: 16px;
    border:none;
    box-shadow: #D9D9D9 0px 3px 5px 0px inset;
    font-family: "Montserrat", serif;
}

.form_container .row {
    display: flex;

    gap: 40px; 
    margin-bottom: 20px; 
}

.form_container .form-group {
    flex: 1 1 40%;
    min-width: 220px; 
}

.submit-btn {
    background-color: var(--blue);
    color: var(--white);
    padding: 10px 20px;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    font-size: 1.3em;
    margin: 50px auto auto auto;
}


/****************************************** SESSION DETAILS */

.sessionTrainees_wrapper{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    }

.title{
    color:var(--blue);
    text-transform:uppercase;
    font-weight:700;
}

.whiteBackground{
    background-color:var(--white);
    border-radius:4px;
    padding:20px;
    height:fit-content;
    display: flex;
    flex-direction: column;
}

/****************************************** TRAINEE DETAILS */

.mainWrapper{
    background-color:var(--white);
    width:80%;
    margin:100px auto 100px auto;
    padding:100px;
}

.trainee_wrapper{
    display:flex;
    justify-content:center;
    gap:5%;
}
.trainee_container{
    width:45%;
}

.trainee-row{
    display:flex;
    flex-wrap: wrap;
    justify-content:space-between;
    padding:10px;
    background-color:var(--background);
    border-radius:4px;
    margin:10px;
}

.traineeSessions_wrapper{
    width:45%;
}

.traineeSessions_row{
    display:flex;
    flex-wrap: wrap;
    justify-content:space-between;
    background-color:var(--background);
    border-radius:4px;
    margin:10px;
    padding:10px;
}

h3{
    color:var(--blue);
    text-align:center;
    text-transform:uppercase;
}

.blue{
    color:var(--blue);
}

.uppercase{
    text-transform:uppercase;
   
}

.bold{
    font-weight:600;
}

#options_container{
    width:100%; 
    padding:30px;
    display: flex;
    justify-content: space-evenly;

}

.options-p a{
    text-decoration: none;
}