:root{
    --background:#F5F6FD;
    --white:#FEFEFE;
    --blue:#2E5BFF;
    --black:#1F212C;
    --grey:#7E8286;
}

*{
    box-sizing: border-box;
}

body {
    background-color: var(--background);
    font-family: "Montserrat", serif;
}


/****************************************** BASE */

/***************** NAV */
.nav_container{
    background-color: var(--white);
    width:100%;
    height:fit-content;
    padding:10px;
    -webkit-box-shadow: 10px 4px 5px 0px rgba(46,91,255,0.19);
    -moz-box-shadow: 10px 4px 5px 0px rgba(46,91,255,0.19);
    box-shadow: 10px 4px 5px 0px rgba(46,91,255,0.19);
    display: flex;
    justify-content: space-between;
}

.nav_container #welcome{
    text-transform:uppercase;
    font-size: 1.5em;
    font-weight:700;
}

.nav_middle{
    margin:10px;
}

.nav_middle:hover,.nav-right i:hover{
   cursor:pointer;
}

.nav_container .nav_middle #editProfile a{
    font-size:1.3em;
    color:var(--blue);
    text-decoration: none;
}

.nav-left{
    display: flex;
    align-items: baseline;
    gap:20px;
}

.nav-right{
    margin:10px;
    text-transform:uppercase;
}

.nav-right a{
    color:var(--blue);
    text-decoration: none;
    font-size: 1.5em;
}


/****************************************** SESSIONS */

.sessions_wrapper{
    width:100%;
    padding:20px;
}

#sessions_table{
    width:100%;
    border-radius: 4px;
    border-spacing: 0px 2em;
}

 #sessions_table td {
    background-color: var(--white);
    padding: 8px;
    text-align: center;
    border: none;
}

#sessions_table tr{
    margin-bottom: 10px; 
}

#search{
    width:40px;
}

