<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block fonts %}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        {% endblock %}

        {% block cdn %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        {% endblock %}

        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>

        <nav>
            {% block nav %}
                <div class="nav_container">
                    <div class="nav-left">
                    <p id="welcome">welcome UserName</p>
                    <img id="avatar" src="avatars/avatar1.png"></img>
                    </div>
                    <div class="nav_middle">
                        <p id="editProfile"><a href="">Edit Profile <i class="fa-solid fa-pen"></i></a></p>
                    </div>
                    {# <div class="nav-right">
                    </div> #}
                </div>
            {% endblock %}
        </nav>

        {% block body %}

        
        {% endblock %}
    </body>
</html>
