{% extends 'base.html.twig' %}

{% block title %}TRAININGS{% endblock %}

{% block nav %}
      <div class="nav_container">
                    <div class="nav-left">
                    <p id="welcome">all trainings</p>
                    {# <p> {{totalTrainings}} Trainings </p> #}
                    </div>
                    <div class="nav_middle">
                        {# <p id="editProfile"><a href="">Edit Profile <i class="fa-solid fa-pen"></i></a></p> #}
                    </div>
                    <div class="nav-right">
                        <p><a href=" {{path('app_home')}}">home <i class="fa-solid fa-circle-arrow-right"></i> </a></p>
                    </div>
                </div>
{% endblock nav %}

{% block body %}
<div class="sessions_wrapper">
    <table id="sessions_table">
        <thead>
            <th>name</th>
            <th>see details</th>
        </thead>
    {% for training in trainings %}
            <tbody>
                <tr>
                    <td>{{training.name}}</td>       
                        <td><a href="{{ path('detail_training',{'id':training.id}) }}"><i class="fa-solid fa-circle-arrow-right"></i></a></td>
                </tr>
            </tbody>
    {% endfor %}
    </table>

</div>
{% endblock %}








