{% extends 'base.html.twig' %}

{% block title %}TRAININGS{% endblock %}

{% block body %}
<h1>All trainings</h1>
<div class="sessions_wrapper">
    <table id="sessions_table">
        <thead>
            <th>name</th>
            <th>see details</th>
        </thead>
    {% for training in trainings %}
            <tbody>
                <tr>
                    <td>{{training.name}}</td>       
                    <td><a href="{{ path('detail_training',{'id':training.id}) }}"><i class="fa-solid fa-circle-arrow-right"></i></a></td>
                </tr>
            </tbody>
    {% endfor %}
    </table>

</div>
{% endblock %}






